/* banner */
#banner {
	background-image: url("../../images/about_banner.jpg");
}

#main {
	background-image: url("../../images/background_02.jpg");
	border: none !important;
}

#one {
	background-color: rgba(61, 84, 125);
}
