/* banner */
#banner h1 {
    font-weight: 500;
}

/* menu */
#menu a:hover {
    border-bottom-color: transparent;
    color: #cecece !important;
}

#menu a:active {
	color: #ffffff !important;
}

/* tiles */
.tiles h3 {
    font-weight: 100;
}


/* major */
.major h2 {
    font-weight: 100;
}
