/* banner */
#banner {
	background-image: url("../../images/kitchen_banner.jpg");
}

#main {
	background-image: url("../../images/background_02.jpg");
}

.image-box {
	position: relative;
	width: 100%;
}

.image-box h3 {
	position: absolute;
	top: 20px;
	left: 1em;
	border-bottom: 1px solid #fff
}

.image-box p {
	position: absolute;
	top: 200px;
	left: 1em;
	width: 90%;
	font-size: 0.8em;
}
