/* banner */
#banner {
	background-image: url("../../images/kitchen_banner.jpg");
}

#main {
	background-image: url("../../images/background_02.jpg");
}

.image-box {
	position: relative;
	width: 33%;
}

.image-box h3 {
	position: absolute;
	top: 2em;
	left: 2.2em;
	border-bottom: 1px solid #fff;
}

.image-box p {
	position: absolute;
	bottom: 1em;
	padding: 0.7em;
	font-size: 0.9em;
	height: 30%;
	background: linear-gradient(rgba(64, 64, 64, 0.5), rgba(64, 64, 64, 0));
}

@media screen and (max-width: 1000px) {
	.image-box {
		width: 50%;
	}
}

@media screen and (max-width: 750px) {
	.image-box {
		width: 100%;
	}
}
