<!DOCTYPE HTML>
<html lang="zh-Hant-TW">
	<head>
		<title>鈺境設計工作室</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
		<link rel="stylesheet" href="/assets/css/main.css" />
		{{ page.css }}
	</head>
	<body>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<a href="/" class="logo"><strong>鈺境設計工作室</strong></a>
				<nav><a href="#menu"></a></nav>
			</header>

			<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/about">關於鈺境</a></li>
					<li><a href="/system-furniture">系統傢俱</a></li>
					<li><a href="/kitchen">廚具規劃</a></li>
					<li><a href="/questions">常見問題</a></li>
					<li><a href="/questions/#service-flow">服務流程</a></li>
					<li><a href="/about/#contact-us">聯絡我們</a></li>
				</ul>
			</nav>

            <!-- Insert Content Here -->
            {{ content }}

            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/YUJINGDesign/" target="_blank" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="tel:0912-812-430" class="icon alt fa-phone"><span class="label">Phone</span></a></li>
                        <li><a href="mailto:k09452@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
						<li><a href="https://line.me/R/ti/p/%40ydz7401w" target="_blank" class="icon line-icon"><span class="label">Line</span></a></li>
                    </ul>
                    <ul class="copyright">
                        <li>&copy; <a href="/">鈺境設計工作室</a></li>
                        <li>網站設計：<a href="https://tsoliangwu.com" target="_blank">Tso-Liang Wu</a> + <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
                    </ul>
                </div>
            </footer>

        </div>

        <!-- Scripts -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.scrolly.min.js"></script>
        <script src="/assets/js/jquery.scrollex.min.js"></script>
        <script src="/assets/js/skel.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/timeline.js"></script>
        <script src="/assets/js/modernizr.js"></script>
        {{ page.js }}
    </body>
</html>
